[package]
org = "ballerina"
name = "crypto"
version = "@toml.version@"
authors = ["Ballerina"]
keywords = ["security", "hash", "hmac", "sign", "encrypt", "decrypt", "private key", "public key"]
repository = "https://github.com/ballerina-platform/module-ballerina-crypto"
icon = "icon.png"
license = ["Apache-2.0"]
distribution = "2201.12.0"

[platform.java21]
graalvmCompatible = true

[[platform.java21.dependency]]
groupId = "io.ballerina.stdlib"
artifactId = "crypto-native"
version = "@toml.version@"
path = "../native/build/libs/crypto-native-@project.version@.jar"

[[platform.java21.dependency]]
groupId = "org.bouncycastle"
artifactId = "bcpkix-jdk18on"
version = "@bouncycastle.version@"
path = "./lib/bcpkix-jdk18on-@bouncycastle.version@.jar"

[[platform.java21.dependency]]
groupId = "org.bouncycastle"
artifactId = "bcprov-jdk18on"
version = "@bouncycastle.version@"
path = "./lib/bcprov-jdk18on-@bouncycastle.version@.jar"

[[platform.java21.dependency]]
groupId = "org.bouncycastle"
artifactId = "bcutil-jdk18on"
version = "@bouncycastle.version@"
path = "./lib/bcutil-jdk18on-@bouncycastle.version@.jar"

[[platform.java21.dependency]]
groupId = "org.bouncycastle"
artifactId = "bcpg-jdk18on"
version = "@bouncycastle.version@"
path = "./lib/bcpg-jdk18on-@bouncycastle.version@.jar"
